# Visual Studio
.vs/
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
Debug/
Release/

# Logs
*.log

# SQL Server
*.mdf
*.ldf

# Visual Studio Code
.vscode/

# OS files
.DS_Store
Thumbs.db
